<footer class="row">
    <div class="col-3 center">
        <div class="mainfooterbox">
        <h1>TimeZone</h1>
        <p>Getting discount with a 
        very splanned materail of design</p>
        </div>
    </div>
    <div class="col-3 center">
        <div>
        <h1>TimeZone</h1>
        <ul>
            <li><a routerLink='/home'>Home</a></li>
            <li><a routerLink='/products/list'>Shop</a></li>
            <li><a routerLink='/about'>about</a></li>
            <li><a routerLink='/contact'>Contact</a></li>
        </ul>
        </div>
    </div>
    <div class="col-3 center">
        <div>
        <h1>TimeZone</h1>
        <ul>
            <li><a routerLink='/home'>Home</a></li>
            <li><a routerLink='/products/list'>Shop</a></li>
            <li><a routerLink='/about'>about</a></li>
            <li><a routerLink='/contact'>Contact</a></li>
        </ul>
        </div>
    </div>
    <div class="col-3 center">
        <div>
        <h1>TimeZone</h1>
        <ul>
            <li><a routerLink='/home'>Home</a></li>
            <li><a routerLink='/products/list'>Shop</a></li>
            <li><a routerLink='/about'>about</a></li>
            <li><a routerLink='/contact'>Contact</a></li>
        </ul>
        </div>
    </div>
</footer>