@mixin linkBtn {
    text-decoration: none;
    font-size:1.4rem;
    padding:5px;
    color: black;
}

.header-nav{
    width:100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding:20px;
    position: relative;
    z-index:10;
}

.menu{
    width:40%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    a{
        @include linkBtn();
        
        &:hover{
            color: crimson;
            border-bottom:2px groove crimson;
        }
    }



}


.search{
width:30%;
}

.search input{
border: none;
outline: none;
padding:5px;
width:90%;
border-radius:10px;
padding-left:10px;
}

.title span{
    color: crimson;
}
.toolIcon{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width:20%;
    .dropmenu{
        fa-icon{
          color: crimson;  
        }
        
        position: relative;
        .submenu{
            background-color: rgb(255, 255, 255);
            padding:10px;
            width:300px;
            position: absolute;
            top:57px;
            display:none;
            z-index:10;
            left:-280px;
            transition:1s ease-in-out;
            filter: drop-shadow(1px 1px 1px lightgray);
            .item{
                display: flex;
                justify-content:space-around;
                flex-flow:row wrap;
                transition:.3s ease-in-out;
                cursor: pointer;
                a{
                    text-decoration: none;
                    text-transform: capitalize;
                }
                img{
                    width:50px;
                    height:50px;
                    object-fit: contain;
                }
                p{
                    color: grey;
                    font-size:1rem;
                }
                .price-item{
                    color: black;
                }


                &:hover{
                    background-color: rgb(235, 235, 235);
                }

            }
        }

        .open{
            display:block;
        }



    }
    button{
        border: none;
    outline: none;
    background-color: white;
    color: crimson;
    font-size: 1.3rem;
    }

    a{
    color:crimson;
    }
}

.searching{
    background-color: rgba(0, 0, 0, 0.815);
    width:100%;
    height:100%;
    position: absolute;
    top:0px;
    left:0px;
    z-index:10;
    position: fixed;

    button{
        border-radius:100%;
        padding:10px;
        border: none;
        outline: none;
        font-size:2rem;
        color: white;
        background-color: black;
        cursor: pointer;
    }

    input{
        padding:20px;
        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0);
        border-bottom:2px solid white;
        color: white;
        font-size:2rem;
    }
}

.numberOfCarts{
    background-color: rgb(29, 29, 29);
    color: white;
    padding:5px;
    border-radius:100%;
}


.mobileMenu{
    width:30%;
    list-style: none;
    display: none;
&>li{
    span{
        color: crimson;
        font-size:2rem;
    }


.mainMenu{
    position: absolute;
    width:100%;
    display: none;
    left:0px;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(1px 1px 1px lightgray);
    padding:20px;
    top:80px;
    ul{
        list-style: none;
        width:100%;
        li{ 
            margin:20px 0px;
            
        a {
            text-decoration: none;
            color: black;
            font-size:1.4rem;
            padding:20px;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            &:hover{
                text-decoration:underline;
                color: crimson;
            }
        }}
    }

}

.openMenu{
display: block;

}


}
}



@media only screen and (max-width:900px){
    .display{
        display: none;
    }
.mobileMenu{
    display: block;
}

}