<div class="container">
    <div class="row">
        <div class="col-12 cover center">
            <h1 class="cover-title">Welcome ..</h1>
        </div>
    </div>
<div class="row">
    <div class="col-4 center">
        <div class="sidebar">
            <div>
                <input type="text" placeholder="change E-mail">
            <button>change E-mail</button> 
            </div>
            <div>
                <input type="password" placeholder="change Passeord">
            <button>change Password</button> 
            </div>

            <div>
            <button>remove my account</button> 
            </div>
            <div>
                <input type="checkbox">
                <label>Get all in my basket</label>
            </div>
            <div>
                <input type="checkbox">
                <label>Get all my products</label>
            </div>
            <div>
                <input type="checkbox">
                <label>Get all saved items</label>
            </div>
            <div>
                <a routerLink='/contact'>Customer serive</a>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="row">
    <div class="col-12 center">
        <h1>My cart</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 boxcards">

    </div>
</div>


<div class="row">
    <div class="col-12 center">
        <h1>My products</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 boxcards">

    </div>
</div>


<div class="row">
    <div class="col-12 center">
        <h1>My wishlist</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 boxcards">

    </div>
</div>
    </div>
</div>


</div>