
.h{
    height:500px;
}


.form-group{
    width:80%;
    display: flex;
    flex-flow: column wrap;
    padding:30px;
    &>input , button{
        padding:10px;
        border:1px solid rgb(192, 192, 192);
        outline: none;
        margin:20px 0px;
        width:100%;
    }
}


.createAccount{
    text-align: center;
    height:100%;
    width:65%;
    color: white;
    padding:20px;
    background-image:linear-gradient(to left ,rgb(97, 0, 92) ,rgb(127, 100, 131));

&>div{
a{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    border:1px solid rgb(255, 255, 255);
    padding:20px;
    text-decoration: none;
    margin:50px 0px;
    &:active{
        background-color: white;
        color: blue;
    }
}

&>*{
    margin:30px 0px;
}


}



}