<div class="container">
    <div class="row">
        <div class="col-12 cover center">
            <h1 class="cover-title">
                Login
            </h1>
        </div>
    </div>

<div class="row m">
    <div class="col-6 center h">
        <div class="createAccount center">
            <div>
        <h1>New to our shop</h1>
        <p>There are advances being made in science 
            and technology everyday, and a good 
            example of this is the</p>
            <a routerLink='/register'>Create new Account</a>
           </div> 
        </div>    
    </div>
    <div class="col-6 center h">
        <form class="form-group">
            <h1>Welcome Back !
                Please Sign in now</h1>
            <input type="text" placeholder="E-mail">
            <input type="password" placeholder="password">
            <button class="pubbtn">Login</button>
        </form>
    </div>
</div>



</div>