<div class="container">
    <div class="row">
        <div class="col-12 cover center">
            <h1 class="cover-title">
                Register
            </h1>
        </div>
    </div>

<div class="row m">
    <div class="col-12 center h">
        <form class="form-group">
            <h1>Create New Account</h1>
            <input type="text" placeholder="User Name">
            <input type="text" placeholder="E-mail">
            <input type="password" placeholder="password">
            <button class="pubbtn">Sing Up</button>
        </form>
    </div>
</div>



</div>